@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "InputMono";
    src: url("/font/InputMono-Thin.woff2") format("woff2");
    font-weight: 300;
    font-display: swap;
    font-style: thin;
  }
  @font-face {
    font-family: "NimbusSans";
    src: url("/font/NimbusSansDOT-BlacExte.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
    font-style: bold;
  }
}
